* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Yttersta kalender-containern */
.calendar {
    color: #000;
    background-color: #ffffff;
    border: none;
    border-radius: 0.5em;
    height: fit-content;
    position: relative;
    padding-bottom: 1em;
}

.head-events {
    margin-left: 0.5em;
    font-weight: 100;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    justify-content: center;
    max-width: 80em;
    color: #fff;
    display: flex;
    box-shadow: var(--shadow-type-1);
    border-radius: 10px;
    background-color: #652c76;
    position: relative;
} 

.left {
    width: 70%;
}

.week-view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    position: absolute;
    bottom: 3em;
    right: 1em;
}

.week-view-btn:hover {
    opacity: 1;
}

.weeknumber-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0.2em;
    padding-left: 0.2em;
    background:linear-gradient(#ffffff, #b7bab792, #ffffff) ;
    color: #652c76;
    border-radius: 0em 0em 0em 0.5em;
}

.weeknumber-container > * {
    height: 16.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slot-week {
    position: absolute;
    top: 9.5em;
    left: 0.5em;
}

.dates {
    display: flex;
}

/* Container för månad och år ("headern") */
.calendar__month-year__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 0;
    grid-column-end: span 7;
    flex-wrap: wrap;
}

.year-display {
    font-weight: 600;
    text-align: center;
    max-width: 4em; 
    padding: 0.1em; 
    border: 1px solid rgba(255, 255, 255, 0); 
    margin: 0.5em; 
    border-radius: 0.3em;
    transition: 0.3s;
    font-family: unset;
    font-size: 2em;
}

.year-display:hover {
    transition: 0.3s;
    transform: scale(105%);
    border: 1px solid gray;
}

.year-display:focus {
    outline: none;
    border: 1px solid gray;
}

h1 {
    margin: 0.5em; 
}

.left-arrow, .right-arrow {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0.5em; 
    border-radius: 2em;
    transition: 0.3s;
}

.left-arrow:hover, .right-arrow:hover {
    transition: 0.3s;
    background-color: var(--color-grey-disabled);
    transform: scale(130%);
}

.left-arrow:active, .right-arrow:active {
    transition: 0s;
    background-color: var(--color-grey);
    transform: scale(90%);
}

/* Containrar för veckodagarnas text */
.calendar__weekdaytitles__container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-top: 1em;
    width: 100%;
    margin-left: 1.5em;
}

.calendar__weekdaytitles__container > div {
    width:14.2%;
    text-align: center;
}

.date-boxes {
    display: grid;
    grid-template-columns: repeat(7, var(--column-size));
    grid-template-rows: repeat(auto, var(--row-size)) ;
    width: 100%;
    height: 600px;
}
.date-boxes-2 {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    align-items: center;
    width: 20%;
    background-color: rgb(191, 148, 224);
    box-sizing: border-box;
    font-size: 17px;
    display: block;
}
.box-small {
    align-items: center;
    width: 20%;
    background-color: rgb(191, 148, 224);
    box-sizing: border-box;
    font-size: 17px;
    display: none;
}

.current:hover {
    transition: 0.1s;
    border: 1px solid #000;
    font-weight: 600;
}
.current:active {
    transition: 0.1s;
    border: 1px solid #ffffff00;
    font-weight: 600;
}

.date-boxes > .current {
    box-shadow: 0px 3px 7px #00000061;
}


/* datumboxar för föregående och nästkommande månad */
.prev, .next {
    background-color: #dadadac9;
    color: gray;
    padding-top: 0.2em;
    padding-left: 0.2em;
    filter: blur(0.8px);
}
.current {
    border: 1px solid #dedede;
    background-color: #ffffff;
    padding-top: 0.2em;
    padding-left: 0.2em;
    transition: 0.1s;
}

/* datumboxar för dagens datum */
.today {
    background-color: #ebe0ee;
    border: 1px solid #7676768f;
    font-weight: 600;
    font-size: 1.1em;
}

.date-blank {
    background-color: var(--color-grey-disabled);
    border: none;
}

/* Siffrorna i datumboxarna */
.weekday-number-text {
    padding: 0.2em;
    font-size: 1.3em;
    font-weight: 600;
}

/* månadstitel */
.month-display {
    font-size: 2em;
    text-align: center;
}

.right {
    width: 30%;
    min-height: 100%;
    }
    
.right .today-date {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0.3em;
    padding-left: 0.3em;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    }

.right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    }

.right .today-date .event-date {
    font-size: 1.5rem;
    font-weight: 400;
    color: #878895;
    }

.events {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}
.add-event-btn {
    position: absolute;
    bottom: 6em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    opacity: 0.5;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left: 1em;
    
    background-color: transparent;
    cursor: pointer;
}
.add-event-btn:hover {
    opacity: 1;
}

 .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #b28dbd;
  }
   .goto-today .goto {
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
  }
   .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    background-color: #b28dbd;
    color: var(--primary-clr);
    border-radius: 5px;
  }
   .goto-today button {
    padding: 5px 10px;
    margin-left: 12px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent #7676768f;
    cursor: pointer;
    color: var(--primary-clr);
  }
   .goto-today button:hover {
    color: #fff;
    background-color: #2f3038;
  }
   .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
  }

/* popup */

   .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 80%;
	max-width: 100%;
  }

  .modal .weekday-paragraph{
    margin-left: 100px;
  }
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }

  .calendar__weekdaytitles__container {
    grid-column-start: 0;
    grid-column-end: span 7;
    display: grid;
    grid-template-columns: repeat(7, var(--column-size));
    text-align: center;
    align-content: center;
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}


.box-short {
    display: none;
}

@media (max-width: 900px) {
    body {
        background-color: #652c76;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* height: 90vh; */
        width: 100vw;
        /* margin: auto; */
        max-width: unset;
        padding: unset;
        box-shadow: unset;
    }

    .right {
        height: 100%;
        Width: 100%;
    }
    
    .left {
        width: 100%;
        height: 100%;
    }

    .calendar {
        max-width: unset;
        height: 100%;
    }

    .add-event-btn{
        margin: 1em;
        width: 40%;
        align-self: center;
        position: unset;
        display: unset;
    }
    
    .week-view-btn{
        margin-bottom: 1em;
        width: 40%;
        align-self: center;
        position: unset;
    }
    .buttons-container {
        display: flex;
        justify-content: center;
    }
    .buttons-container > * {
        width: 40%;
        height: 100%;
    }

    .weekday-paragraph {
        display: none;
    }
    .box-short {
        display: block;
    }

    .slot-week {
        position: absolute;
        top: 8.2em;
        left: 0.5em;
    }

    .year-display {
        margin: unset; 
    }

    .box {
        display: none;
    }

    .box-small {
        display: block;
    }
}