* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Yttersta kalender-containern */
.calendar {
    background-color: #878895;
    display: grid;
    grid-template-columns: repeat(7, var(--column-size));
    grid-template-rows: var(--row-size-half) 3em repeat(6, var(--row-size)) ;
    border: none;
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    box-shadow: var(--shadow-type-1);
}
.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;

    border-radius: 10px;
    background-color: #373c4f;
} 
.left {
    width: 60%;
    padding: 20px;
}
/* Container för månad och år ("headern") */
.calendar__month-year__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-start: 0;
    grid-column-end: span 7;
    /*text-align: center;
    display: grid;
    align-content: center;
    width: 100%;*/
}
#year-dropdown {
    width: 7em; 
    padding: 0.1em; 
    font-size: 25px;
    border: 1px solid grey; 
    margin: 0.5em; 
    border-radius: 0.3em;

}
h1 {
    margin: 0.5em; 
}

.left-arrow, .right-arrow {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0.5em; 
    border-radius: 2em;
    transition: 0.3s;

}

.left-arrow:hover, .right-arrow:hover {
    transition: 0.3s;
    background-color: var(--color-grey-disabled);
    transform: scale(130%);
}

.left-arrow:active, .right-arrow:active {
    transition: 0s;
    background-color: var(--color-grey);
    transform: scale(90%);
}

/* Containrar för veckodagarnas text */
.calendar__weekdaytitles__container {
    grid-column-start: 0;
    grid-column-end: span 7;
    display: grid;
    grid-template-columns: repeat(7, var(--column-size));
    text-align: center;
    align-content: center;
}

.current {
    border: 1px solid var(--color-grey);
    background-color: #373c4f;
}

.date-blank {
    background-color: var(--color-grey-disabled);
    border: none;
}

/* Siffrorna i datumboxarna */
.weekday-number-text {
    padding: 0.2em;
    font-size: 1.3em;
    font-weight: 600;
}

/* månadstitel */
.month-display {
    width:6em;
    font-size: 2em;
    text-align: center;
}

.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
    }
    
.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    }
.right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    }
.right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
    }
.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}
.add-event-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    
    background-color: transparent;
    cursor: pointer;
}
.add-event-btn:hover {
    opacity: 1;
}
@media screen and (max-width: 1000px) {
body {
    align-items: flex-start;
    justify-content: flex-start;
        }
.container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
        }
.container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
        }
.container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
        }
.calendar::before,
.calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
        }
.calendar::before {
        width: 94%;
        top: calc(100% + 12px);
        }
.events {
        padding-bottom: 340px;
        }
.add-event-wrapper {
        bottom: 100px;
        }
}

@media screen and (max-width: 500px) {
.calendar .calendar__month-year__container {
    height: 75px;
        }
.calendar .weekday__container {
    height: 50px;
    }
.calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
        }
.calendar .days .day.active,
.calendar .days .day.today {
    font-size: 1rem;
        }
.right .today-date {
    padding: 20px;
        }
}

.date-boxes {
    display: grid;
    grid-template-columns: repeat(7, var(--column-size));
    grid-template-rows: repeat(8, var(--row-size)) ;
}


/* datumboxar för föregående och nästkommande månad */
.prev, .next {
    background-color: #40414648;
    border: 1px solid var(--color-grey);
}

/* datumboxar för dagens datum */
.today {
    background-color: #515777;
    border: 1px solid var(--color-grey);

}